<head th:replace="fragments/common :: head('Login')">
</head>

<body class="text-center" >
    
    
    <form class="form-signin" method="POST" th:action="@{/account/login}">
        <a th:href="@{/}"><img class="mb-4" src="https://getbootstrap.com/docs/4.5/assets/brand/bootstrap-solid.svg"
                alt="" width="72"
        height="72"></a>
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        <label for="username" class="sr-only">Username</label>
        <input type="text" id="username" name="username" class="form-control" placeholder="Username" required autofocus>
        
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>

        <div class="alert alert-danger" th:if="${param.error}" role="alert">
            invalid username and password
        </div>
        <div th:if="${param.logout}" class="alert alert-primary" role="alert">
            you have been logged out
        </div>
        
        <button class="btn btn-lg btn-primary btn-block mr-2" type="submit">Sign in</button>
        <a class="btn btn-lg btn-primary btn-block" th:href="@{/account/register}">Sign up</a>
        <p class="mt-5 mb-3 text-muted">&copy; 2017-2020</p>
    </form>
    
    
    <footer th:replace="fragments/common :: footer"></footer>
</body>

</html>