<head th:replace="fragments/common :: head('register')">
</head>

<body class="text-center" >
    
    
    <form class="form-signin" method="POST" th:action="@{/account/register}" th:object="${user}">
        <img class="mb-4" src="https://getbootstrap.com/docs/4.5/assets/brand/bootstrap-solid.svg" alt="" width="72"
            height="72">
        <h1 class="h3 mb-3 font-weight-normal">Please sign up</h1>

        <label for="username" class="sr-only">Username</label>
        <input type="text" id="username" name="username" class="form-control" placeholder="Username" required autofocus>
        
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>
        
        <select name="role" class="form-select mb-3">
            <option value="">Authorization</option>
            <option th:each="role : ${T(com.orangeblue.myboard.domain.RoleEnum).values()}" th:value="${role}"
                th:text="${role}">User
            </option>
        </select>

        <div class="alert alert-danger" th:if="${param.error}" role="alert">
            invalid username and password
        </div>
        
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
        <p class="mt-5 mb-3 text-muted">&copy; 2017-2020</p>
    </form>
    <div th:if="${param.logout}" class="alert alert-primary" role="alert">
        you have been logged out
    </div>
    
    <footer th:replace="fragments/common :: footer"></footer>
</body>

</html>